# MYIR Secure Boot Hardening (Kconfig symbols may be unused)
CONFIG_TDX_SECBOOT_HARDENING=y
CONFIG_TDX_CMD_WHITELIST=y
CONFIG_TDX_BOOTM_PROTECTION=y
CONFIG_TDX_CLI_PROTECTION=y
CONFIG_TDX_BOOTARGS_PROTECTION=y
# CONFIG_TDX_SECBOOT_HARDENING_DBG is not set
# CONFIG_TDX_LOAD_PROTECTION is not set
# CONFIG_TDX_CP_PROTECTION is not set
# CONFIG_TDX_FB_PROTECTION is not set
