# Secure boot combined config
# Include from meta-myir-security

# Disable bootmeths (rely on boot script + FIT)
CONFIG_BOOTSTD_BOOTCOMMAND=n
CONFIG_CMD_BOOTMETH=n
CONFIG_BOOTMETH_DISTRO=n

# Force DRAM banks for LMB (protects reserved regions)
CONFIG_NR_DRAM_BANKS=2
CONFIG_SYS_MEM_RESERVE_SECURE=y

# Security features
CONFIG_FIT=y
CONFIG_FIT_BEST_MATCH=y
CONFIG_OF_LIBFDT_OVERLAY=y
