[Unit]
Description=auto run hmi after weston
After=weston-graphical-session.service

[Service]
Type=forking
ExecStart=/etc/myir_test/myir_bt


[Install]
WantedBy=multi-user.target
