# i.MX6ULL: Enable hardware RNG in kernel to speed up CRNG init
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_IMX_RNGC=y

# Trust i.MX hardware RNG via kernel built-in cmdline extension
# (CONFIG_RANDOM_TRUST_CPU does not exist in 6.12; use cmdline instead)
CONFIG_CMDLINE="random.trust_cpu=1"
CONFIG_CMDLINE_EXTEND=y

CONFIG_SND_SOC_WM8904=y
# CONFIG_TRUSTED_KEYS_DCP is not set
# CONFIG_TEE_CRYPTO is not set
# CONFIG_CRYPTO_DEV_MXS_DCP is not set
