[Unit]
Description=PN SN
After=tee-supplicant.service

[Service]
Type=simple
ExecStart=/usr/bin/MEasyListen-DEV
StandardOutput=tty
StandardOutput=append:/dev/ttyLP0
StandardError=append:/dev/ttyLP0
Restart=on-failure

[Install]
WantedBy=multi-user.target
