[Unit]
Description=Bluetooth initialization
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/nxp-bt-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target